# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem

# environment files
.env
.env*.local
.env.development
.env.staging  
.env.production
.env.test
# Allow .env.example to be tracked
!.env.example

# typescript
*.tsbuildinfo
